<div class = "fb_likebox">
<iframe
src="http://www.facebook.com/plugins/likebox.php?href={{ fb_url }}&width={{ fb_width }}&colorscheme={{ fb_colorscheme }}&show_faces={{ fb_show_faces }}&bordercolor&stream={{ fb_stream }}&header={{ fb_header }}&height={{ fb_height }}&show_border={{ fb_show_border }}&force_wall={{ fb_force_wall }}"
scrolling="{{ fb_scrolling }}"
frameborder="0"
style="border: none; overflow: hidden; width: {{ fb_width }}px; height: {{ fb_height }}px;"
allowTransparency="true">
</iframe>
</div>